.navbar .brand-right {
  display: block;
  float: right;
  padding: 6px;
  margin-right: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}
.navbar .brand-middle {
  display: block;
  padding: 6px;
  margin-right: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}
